<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NTUWorkPuncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NTUWorkPuncher.Properties.Settings>
            <setting name="Account" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoPunchIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPunchOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPunchInH" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AutoPunchInM" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AutoPunchOutH" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="AutoPunchOutM" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LineNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineNotifyAPIToken" serializeAs="String">
                <value />
            </setting>
        </NTUWorkPuncher.Properties.Settings>
    </userSettings>
</configuration>